.titleh1, .ferrari__main h1 {
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  text-align: center;
  font-size: 100px;
  background-color: rgba(114, 0, 0, 0.5); }

.titleh2, .body__drivers h2, .body__season h2, .body__car .titles-car h2, .body__legends h2, .body__news h2, .body__404 h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  text-align: center;
  font-size: 5rem;
  color: #ffffff;
  margin-top: 100px; }

.header {
  font-family: 'Bebas Neue', cursive;
  background-color: #181818;
  display: flex;
  align-items: center;
  grid-area: header;
  width: 100%; }
  .header .navBar {
    width: 100%;
    display: flex;
    color: #ffffff;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .header .nav-item {
    margin-right: 30px; }
  .header .nav-link {
    color: #ffffff;
    font-size: x-large; }
    .header .nav-link:hover {
      color: #ffffff; }
  .header .navbar-toggler-icon {
    filter: invert(100%); }
  .header #ferrari-logo {
    width: 20px; }

.body__index {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "section1" "section2" "footer"; }
  .body__index .footer {
    background: url(../images/background-index2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover; }

.ferrari__main {
  background: url(../images/background-index.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  grid-area: section1;
  display: flex;
  align-items: center;
  justify-content: center; }

.ferrari__description {
  background: url(../images/background-index2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-area: section2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "txt1 ." ". txt2" "txt3 ."; }
  .ferrari__description .card {
    text-align: center;
    background-color: #00000080;
    border: none;
    border-radius: 2%;
    margin-top: 25px;
    margin-bottom: 25px; }
  .ferrari__description .card-body {
    background-color: transparent;
    margin: 5rem 3rem;
    text-align: center;
    color: #ffffff; }
  .ferrari__description #text1-description {
    grid-area: txt1; }
  .ferrari__description #text2-description {
    grid-area: txt2; }
  .ferrari__description #text3-description {
    grid-area: txt3; }

@media (max-width: 1020px) {
  .ferrari__main {
    display: flex;
    flex-direction: column; }
    .ferrari__main h1 {
      font-size: 2.5rem; }
  .scroll-down {
    display: none; }
  .footer {
    width: 100%; }
  .ferrari__description {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto; } }

@media (max-width: 1020px) and (max-width: 635px) {
  .body__index .ferrari__description .card {
    width: auto; } }

@media (max-width: 1020px) and (max-width: 350px) {
  .body__index {
    width: 100%; } }

.body__drivers {
  background: url(../images/drivers-background.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "titleDrivers" "section" "footer"; }
  .body__drivers h2 {
    grid-area: titleDrivers;
    margin-top: 40vh; }
  .body__drivers .card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    background-color: #000000b2; }
    .body__drivers .card img {
      width: 50%; }
  .body__drivers .section__drivers {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "leclercCard ." ". sainzCard";
    grid-area: section;
    width: 100%;
    margin-bottom: 100px; }
    .body__drivers .section__drivers .section__leclerc {
      margin-top: 250px;
      grid-area: leclercCard;
      color: #ffffff; }
    .body__drivers .section__drivers .section__sainz {
      grid-area: sainzCard;
      color: #ffffff; }

@media (max-width: 768px) {
  .body__drivers .section__drivers {
    display: flex;
    flex-flow: column wrap;
    align-content: center; }
    .body__drivers .section__drivers h2 {
      font-size: 2.5rem; }
    .body__drivers .section__drivers .card {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin-bottom: 20px; }
      .body__drivers .section__drivers .card p {
        text-align: center; } }

.body__season {
  background: url(../images/WorldMapBackground.svg) center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "races" "footer"; }
  .body__season h2 {
    grid-area: titleRaces; }
  .body__season .races .title-season {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px; }
  .body__season .races .racesCalendar {
    grid-area: races;
    text-align: center;
    margin-bottom: 150px; }

@media (max-width: 768px) {
  .races {
    display: flex;
    flex-flow: column nowrap; }
    .races h2 {
      font-size: 2.5rem; }
  .racesCalendar {
    display: flex;
    flex-flow: column nowrap; }
    .racesCalendar img {
      width: 100%; } }

.body__car {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header" "titleCar" "sectionCar" "section2Car" "footer"; }
  .body__car .titles-car {
    margin-top: 10%;
    margin-bottom: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff; }
    .body__car .titles-car h2 {
      grid-area: titleCar; }
    .body__car .titles-car h4 {
      margin-top: 75px; }
  .body__car .section__car {
    background: url(../images/background-car.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    grid-area: sectionCar;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .body__car .section2__car {
    height: 100vh;
    width: 100%;
    background: url(../images/f1-75-car-2.jpg);
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed; }
    .body__car .section2__car h4 {
      margin-top: 75px;
      color: #ffffff;
      text-align: center; }
  .body__car .footer {
    background: url(../images/f1-75-car-2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }

@media (max-width: 768px) {
  .body__car {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "titleCar" "sectionCar" "section2Car" "footer"; }
    .body__car .titles-car h2 {
      font-size: 2.5rem; }
    .body__car .section2__car {
      background-position: 28%; } }

.body__legends {
  background: url(../images/legends-background.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "titleLegends" "sectionLegends" "footer"; }
  .body__legends h2 {
    margin: 50px;
    grid-area: titleLegends; }
  .body__legends .section__legends {
    grid-area: sectionLegends;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px; }
    .body__legends .section__legends .card {
      width: 50vw;
      margin-top: 30px;
      background-color: #00000080;
      border: none;
      color: #ffffff;
      align-items: center;
      text-align: center;
      font-size: large; }
      .body__legends .section__legends .card h5 {
        text-align: center; }
      .body__legends .section__legends .card img {
        width: 50%; }
  .body__legends .footer {
    filter: invert(100%); }

@media (max-width: 768px) {
  .body__legends h2 {
    font-size: 2.5rem; }
  .section__legends {
    display: flex;
    flex-flow: column nowrap; }
    .section__legends .card {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      text-align: center; } }

.body__news {
  background: url(../images/background-news.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff; }
  .body__news h2 {
    margin: 50px; }

.body__form {
  width: 50%;
  margin-bottom: 250px; }

@media (max-width: 768px) {
  .body__news h2 {
    font-size: 2.5rem; } }

.footer {
  text-decoration: none;
  grid-area: footer; }
  .footer .footer__rrss {
    display: flex;
    justify-content: center;
    list-style: none; }
    .footer .footer__rrss img {
      width: 50%; }
      .footer .footer__rrss img:hover {
        width: 60%; }

.focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  max-width: 100vw; }

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.tilt-in-top-1 {
  -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

.scroll-down {
  height: 50px;
  width: 30px;
  position: absolute;
  left: 50%;
  top: 80%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer; }

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite; }

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s; }

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    top: 90%;
    opacity: 0; } }

.body__404 {
  background: url(../images/error-404.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "title404" "footer"; }
  .body__404 h2 {
    margin: 50px;
    margin-top: 200px;
    margin-bottom: 400px; }
  .body__404 #title404 {
    grid-area: title404; }
