.body__car{
    background: linear-gradient(to bottom, black 50%, #D32F2F);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "titleCar"
    "sectionCar"
    "footer";
    .titles-car{
        @include flexbox(center);
        flex-direction: column;
        color: #ffffff;
        h2{
            @extend .titleh2;
            grid-area: titleCar;
        }
    }
    .section__car{
        grid-area: sectionCar;
        @include flexbox(center);
        flex-direction: column;
        .card{
            background: none;
            margin-bottom: 50px;
            width: 800px;
            color: #ffffff;
            border: none;
            text-align: center;
        }
    }
    
}

@media(max-width: 768px){
    .body__car{
        height: 100%;
        h2{
            font-size: 2.5rem;
        }
        .section__car{
            display: flex;
            flex-flow: column wrap;
            .card{
                width: 100%;
                p{
                    text-align: center;
                }
                img{
                    width: 100%;
                }
            }
    
        }
        .video__car iframe{
            display: none;
        }
    }
}
