.body__car{
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header"
    "titleCar"
    "sectionCar"
    "section2Car"
    "footer";
    .titles-car{
        margin-top: 10%;
        margin-bottom: 25%;
        @include flexbox(center);
        flex-direction: column;
        color: $white;
        h2{
        @extend .titleh2;
        grid-area: titleCar;
        }
        h4{
            margin-top: 75px;
        }
    }
    .section__car{
        background: url(../images/background-car.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        grid-area: sectionCar;
        text-align: center;
        @include flexbox(center);
        flex-direction: column;
    }
    .section2__car{
        height: 100vh;
        width: 100%;
        background: url(../images/f1-75-car-2.jpg);
        background-position: 100%;
        background-size: cover;
        background-attachment: fixed;
        h4{
            margin-top: 75px;
            color: $white;
            text-align: center;
        }
    }
    .footer{
        background: url(../images/f1-75-car-2.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
}

@media(max-width: 768px){
    .body__car{
        height: 100%;
        display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "header"
            "titleCar"
            "sectionCar"
            "section2Car"
            "footer";
            .titles-car h2{
                font-size: 2.5rem;
            }
        .section2__car{
            background-position: 28%;
        }
    }
}
