.body__drivers{
    background: url(../images/drivers-background.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "titleDrivers"
    "section"
    "footer";
    h2{
        @extend .titleh2;
        grid-area: titleDrivers;
        margin-top: 40vh;
    }
    .card{
            @include flexbox(center);
            margin-top: 50px;
            text-align: center;
            background-color: #000000b2;
            img{
                width: 50%;
            }
        }
        .section__drivers{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: "leclercCard ."
            ". sainzCard";
            grid-area: section;
            width: 100%;
            margin-bottom: 100px;
    .section__leclerc{
        margin-top: 250px;
        grid-area: leclercCard;
        color: $white;
    }
    .section__sainz{
        grid-area: sainzCard;
        color: $white;
        }
    }
}


@media (max-width: 768px){
    .body__drivers{
    .section__drivers{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        h2{
            font-size: 2.5rem;
        }
        .card{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin-bottom: 20px;
            p{
                text-align: center;
                }
            }
        }
    }
}