.footer{
    text-decoration: none;
    grid-area: footer;
    .footer__rrss{
        display: flex;
        justify-content: center;
        list-style: none;
        img{
            width: 50%;
        }
    }
    
}