.header{
    font-family: 'Bebas Neue', cursive;
    background-color: #181818;
    display: flex;
    align-items: center;
    grid-area: header;
    width: 100%;
    .navBar{
        width: 100%;
        display: flex;
        color: #ffffff;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .nav-item{
        margin-right: 30px;
    }
    .nav-link{
        color: #ffffff;
        font-size: x-large;
        &:hover{
            color: #ffffff;
        }
        
    }
    .navbar-toggler-icon{
        filter: invert(100%);
    }
    #ferrari-logo{
        width: 20px;
        filter: invert(100%);
    }
}