.body__index{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "section1"
    "section2"
    "footer";
    .footer{
        background: url(../images/background-index2.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: cover;
    }
}
.ferrari__main{
    background: url(../images/background-index.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    grid-area: section1;
    @include flexbox(center);
    h1{
        @extend .titleh1;
    }
    
}
.ferrari__description{
    background: url(../images/background-index2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: grid;
    grid-area: section2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "txt1 ."
    ". txt2"
    "txt3 .";
    .card{
        text-align: center;
        background-color: #00000080;
        border: none;
        border-radius: 2%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .card-body{
        background-color: transparent;
        margin: 5rem 3rem;
        text-align: center;
        color: $white;
        
        }
        #text1-description{
            grid-area: txt1;
        }
        #text2-description{
            grid-area: txt2;
        }
        #text3-description{
            grid-area: txt3;
        } 
    }

    @media (max-width: 1020px){
    .ferrari__main{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 2.5rem;
        }
        
    }
    .scroll-down{
        display: none;
    }
    .footer{
        width: 100%;
    }
    .ferrari__description{
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            height: auto;
    }
    @media (max-width: 635px){
        .body__index{
            .ferrari__description{
                .card{
                    width: auto;
                }
            }
            
        }
    }
    
    @media (max-width: 350px){
        .body__index{
            width: 100%;
        }
        
    }
}