.body__legends{
    background: url(../images/legends-background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "titleLegends"
    "sectionLegends"
    "footer";
    h2{
        margin: 50px;
        @extend .titleh2;
        grid-area: titleLegends;
    }

    .section__legends{
        grid-area: sectionLegends;
        @include flexbox(center);
        flex-direction: column;
        margin-bottom: 50px;
        .card{
            width: 50vw;
            margin-top: 30px;
            background-color: #00000080;
            border: none;
            color: #ffffff;
            align-items: center;
            text-align: center;
            font-size: large;
            h5{
                text-align: center;
            }
            img{
                width: 50%;
            }
        }
    }
    .footer{
        filter: invert(100%);
    }
}

@media(max-width:768px){

    .body__legends{
        h2{
            font-size: 2.5rem;
        }
    }

    .section__legends{
        display: flex;
        flex-flow: column nowrap;
       
        .card{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            text-align: center; 
        }
    }
}