.body__news{
    background: url(../images/background-news.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    @include flexbox(center);
    flex-direction: column;
    color: #ffffff;
    h2{
        margin: 50px;
        @extend .titleh2;
    }
}

.body__form{
    width: 50%;
    margin-bottom: 250px;
}


@media(max-width:768px){
    .body__news{
        h2{
        font-size: 2.5rem;
        }
    }
}
