*{
    padding: 0px;
    margin: 0px;
}

/* Ajustes generales */

body{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

header{
    font-family: 'Bebas Neue', cursive;
    background-color: #181818;
    display: flex;
    align-items: center;
    grid-area: header;
    width: 100%;
}

.navBar{
    width: 100%;
    display: flex;
    color: #ffffff;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav-item{
    margin-right: 30px;
}

.nav-link{
    color: #ffffff;
    font-size: x-large;
}

.nav-link:hover{
  color: #ffffff;
}

.navbar-toggler-icon{
    filter: invert();
}



#ferrari-logo{
    width: 20px;
    filter: invert();


}

.footer{
    text-decoration: none;
    grid-area: footer;
    

}

.footer__rrss{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer__rrss img{
    width: 50%;
}

/* Fin ajustes generales */



/* Index */

.body__index{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "section1"
    "section2"
    "footer";
}



#title-index{
    /* width: 750px; */
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 100px;
    background-color: rgba(114, 0, 0, 0.5);
}





.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}


.ferrari{
    background: url(../images/background-index.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    grid-area: section1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ferrari__description{
    background: url(../images/background-index2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: grid;
    grid-area: section2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "txt1 ."
    ". txt2"
    "txt3 .";
}

.ferrari__description__text{
    background-color: rgb(128, 128, 128, 0.5);
    margin: 80px 50px;
    text-align: center;
}

.card-text p{
    width: 50%;
    text-align: center;
}

#text1-description{
    grid-area: txt1;
}

#text2-description{
    grid-area: txt2;
}

#text3-description{
    grid-area: txt3;
}

.footer__index{
    background: url(../images/background-index2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}


/* Fin Index */

/* Inicio Car */

.body__Car{
    background: linear-gradient(to bottom, black 50%, #D32F2F);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "titleCar"
    "sectionCar"
    "footer";
}

.titles-car{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__car{
    grid-area: sectionCar;
    display: flex;
    flex-direction: column;
}

.video__car{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

#title-car{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 100px;
    grid-area: titleCar;
}

.card{
    background: none ;
    margin-bottom: 50px;
}

/* Fin Car */

/* Inicio drivers */



.body__Drivers{
    background: linear-gradient(to bottom, black 50%, #D32F2F);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "title"
    "section"
    "footer";
    
}

.card{
    margin-top: 100px;
    align-items: center;
    text-align: center;
    border: none;
}

.section__drivers{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "leclercCard ."
    ". sainzCard";
    grid-area: section;
    width: 100%;
}


.title-drivers{
    display: flex;
    justify-content: center;
    grid-area: title;
}

#title-heroes{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 100px;
    margin-top: 100px;

}

.section__leclerc{
    grid-area: leclercCard;
}

.section__leclerc img{
    width: 75%; 

}

.section__sainz{
    grid-area: sainzCard;
}

.section__sainz img{
    width: 75%; 

}


/* Fin drivers */

/* Inicio legends */

.body__Legends{
    background: linear-gradient(to bottom, black 50%, #D32F2F);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "titleLegends"
    "sectionLegends"
    "footer";
}

.section__legends{
    grid-area: sectionLegends;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#legends-title{
    margin: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    text-align: center;
    font-size: 80px;
    margin-top: 100px;
}

#card__legends{
    width: 50vw;
    margin-top: 30px;
}


/* Fin Legends */

/* Inicio news */

.body__News{
    background: linear-gradient(to bottom, black 50%, #D32F2F);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#title-news{
    margin: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    text-align: center;
    font-size: 80px;
    margin-top: 100px;
}

.body__form{
    width: 50%;
    margin-bottom: 150px;
}



/* Fin news */

/* Inicio season */

.body__Season{
    background: linear-gradient(to bottom, black 50%, #D32F2F);
}

.title-season{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.racesCalendar{
    grid-area: races;
    text-align: center;
    margin-bottom: 150px;

}

#title-races{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    grid-area: titleRaces;

}

.body__Season{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
    "races"
    "footer"; 
} 



/* Fin season */


/* Responsive */

/* General Responsive */

@media (max-width: 425px){
    /* .navBar__menu{
        /* flex-flow: column wrap; */
        /* width: auto; 
    } */

    .footer__rrss{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}



/* Index Responsive */

@media (max-width: 1020px){
    .ferrari__description{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
    }

}
@media (max-width: 635px){
    .body__index{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "header"
        "section1"
        "section2"
        "footer";
    }

    .ferrari__description{
        width: 100%;
    }
}

@media (max-width: 350px){
    .body__index{
        width: 100%;
    }
    
}

/* Fin Index Responsive */

/* Drivers Responsive */

@media (max-width: 768px){
    .section__drivers{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    .drivers{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .card__drivers{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 20px;
    }

    .card__drivers p{
        width: 60%;
        text-align: center;
    }

    


}

/* Fin Drivers responsive */

/* Races responsive */

@media(max-width: 768px){
    .races{
        display: flex;
        flex-flow: column nowrap;
    }

    .racesCalendar{
        display: flex;
        flex-flow: column nowrap;
    }
}

/* Fin Races responsive */

/* Car responsive */

@media(max-width: 768px){
    .body__Car{
        height: 100%;
    }


    .section__car{
        display: flex;
        flex-flow: column wrap;
    }



    .section__car p{
        width: 60%;
        text-align: center;
    }
}

/* Fin Car responsive */




/* Legends responsive */

@media(max-width:768px){

    .section__legends{
        display: flex;
        flex-flow: column nowrap;
    }

    .legends__card{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }


    .section__legends p{
        width: 60%;
        text-align: center;
    }
}

/* Fin legends responsive */

/* News responsive */



